<div class="row">
          <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Hello, my name is Juan David Avendano, and I am delighted to welcome you to my website. I am a dedicated student at Seneca College, pursuing my final semester in the computer programming program. Throughout my academic journey, I have immersed myself in diverse technologies, acquiring valuable skills and knowledge that have shaped my passion for programming.</p>
          <p>Within this website, I have harnessed the power of numerous technologies, including MongoDB, PostgreSQL, Node.js, and Cloudinary. These tools have empowered me to create a dynamic and interactive platform that showcases my expertise and creativity.</p>
          <p>As a devoted programmer, I have always sought to merge my technical proficiency with my personal interests. Hence, I have seamlessly integrated my love for food and the culinary arts into this website. By combining cutting-edge technology with the world of gastronomy, I have crafted an engaging experience that celebrates the art of cooking.</p>
          <p>Here, you will find a fusion of delectable recipes, captivating food photography, and insightful blog posts, all thoughtfully curated to inspire and delight. Through my culinary adventures, I aim to share my expertise, experiment with innovative techniques, and bring the joy of cooking to enthusiasts like yourself.</p>
          <p>I invite you to explore this website and embark on a gastronomic journey with me. Together, let's discover the harmonious blend of technology and culinary delights that awaits us here.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Comming Soon</h2>
          <p>"Stay tuned for future updates in the comming weeks as long as the professor provide more assigments…</p>
        </aside>
</div>
